<div *ngIf="process == 'new'">
    <span>Nueva Lectura</span>

    <div style="display: none;">
        <form style="display: flex;flex-direction: column;align-items: center;align-content: center;">
            <mat-form-field style="margin-top: 20px;">
                <mat-label>Nombre</mat-label>
                <input matInput [formControl]="NameInput">
            </mat-form-field>
            <mat-form-field style="margin-top: 20px;">
                <mat-label>Descripción</mat-label>
                <textarea matInput #descripcion1 maxlength="500" [formControl]="DescInput" style="min-height: 100px;" placeholder="Solo se permiten 500 caracteres..."></textarea>
                <mat-hint align="end">{{descripcion1.value.length}} / 500</mat-hint>
            </mat-form-field>
            <mat-form-field style="margin-top: 20px;">
                <mat-label>Nivel</mat-label>
                <mat-select [formControl]="levelControl" autocomplete="off" id="levelSelect">
                    <mat-option value="Básico">Básico</mat-option>
                    <mat-option value="Intermedio">Intermedio</mat-option>
                    <mat-option value="Avanzado">Avanzado</mat-option>
                </mat-select>
            </mat-form-field>
            <div style="display: flex;flex-direction: column;">
                <!-- Select imagen -->
                <input #file type="file" [hidden]="true" accept=".pdf" (change)="detectFiles($event)">
                <button mat-button #upload onclick="return false" (click)="file.click()"
                    style="background: #a00;color:white;">Elegir Documento</button>
                <div *ngIf="uploading" style="display: flex; justify-content: center; align-items: center;">
                    <mat-spinner diameter="30"></mat-spinner>
                </div>
                <!-- Boton -->
                <button id="save" mat-raised-button color="primary" style="margin-top: 30px;" (click)="createLectura()">
                    Registrar lectura
                </button>
            </div>
        </form>
    </div>

    <mat-horizontal-stepper>
        <mat-step label="Lectura">
            <div style="display: flex;flex-direction: column;">
                <mat-form-field style="margin-top: 20px;">
                    <mat-label>Nombre</mat-label>
                    <input matInput [formControl]="NameInput">
                </mat-form-field>
                <mat-form-field style="margin-top: 20px;">
                    <mat-label>Descripción</mat-label>
                    <textarea matInput #descripcion2 maxlength="500" [formControl]="DescInput" style="min-height: 100px;" placeholder="Solo se permiten 500 caracteres..."></textarea>
                    <mat-hint align="end">{{descripcion2.value.length}} / 500</mat-hint>
                </mat-form-field>
                <mat-form-field style="margin-top: 20px;">
                    <mat-label>Nivel</mat-label>
                    <mat-select [formControl]="levelControl" autocomplete="off" id="levelSelect">
                        <mat-option value="Básico">Básico</mat-option>
                        <mat-option value="Intermedio">Intermedio</mat-option>
                        <mat-option value="Avanzado">Avanzado</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div>
                <button mat-button matStepperNext>Siguiente</button>
            </div>
        </mat-step>
        <mat-step label="Multimedia">
            <div style="display: flex;flex-direction: column;">

                <!-- Select File -->
                <input #file type="file" [hidden]="true" accept=".pdf" (change)="detectFiles($event)">
                <button mat-button #upload onclick="return false" (click)="file.click()"
                    style="background: #a00;color:white;">Elegir Documento</button>

                <div *ngIf="uploading" style="display: flex; justify-content: center; align-items: center;">
                    <mat-spinner diameter="30"></mat-spinner>
                </div>
                <br>

                <!-- Select Image -->
                <input #fileImg type="file" [hidden]="true" accept="image/*" (change)="imageChangeEvent($event)">
                <button mat-button #upload onclick="return false" (click)="fileImg.click()"
                    style="background: #555;color:white;">Seleccionar Imagen</button>
                <div *ngIf="dataImages">
                    <br>
                    <div style="display: flex; justify-content: center; align-items: center;">
                        <div *ngFor="let image of dataImages; let i = index">
                            <div style="position: relative;">
                                <div class="delete-img" (click)="onDeleteImg(i)">
                                    <div style="color: #fff;">
                                        x
                                    </div>
                                </div>
                                <img [src]="image" alt="" srcset="" style="width: 100px; 
                                    height: 100px;
                                    margin-left: 5px;
                                    margin-right: 5px;">
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Insert URL Youtube -->
                <div style="display: flex;flex-direction: column;">
                    <mat-form-field style="margin-top: 20px;">
                        <mat-label>Copiar & Pegar URL YouTube:</mat-label>
                        <input matInput type="url" [formControl]="urlYouTubeInput">
                    </mat-form-field>
                </div>
            </div>
            <div>
                <button mat-button matStepperPrevious>Atras</button>
                <button mat-button matStepperNext>Siguiente</button>
            </div>
        </mat-step>
        <mat-step label="Guardar Lectura">
            <div>
                <span>
                    <strong>Importante:</strong>
                </span>
                <span>
                    Verifique que toda la información es correcta antes de publicar.
                </span>
            </div>
            <!-- Boton -->
            <button id="save" mat-raised-button color="primary" style="margin-top: 30px;" (click)="createLectura()">
                Registrar lectura
            </button>
            <div>
                <button mat-button matStepperPrevious>Atras</button>
            </div>
        </mat-step>
    </mat-horizontal-stepper>
</div>




<!-- EDIT FORM -->
<div *ngIf="process == 'edit'">
    <span>Editar Lectura</span>

    <div style="display: none;">
        <form style="display: flex;flex-direction: column;align-items: center;align-content: center;">
            <mat-form-field style="margin-top: 20px;">
                <mat-label>Nombre</mat-label>
                <input matInput [formControl]="NameInput">
            </mat-form-field>
            <mat-form-field style="margin-top: 20px;">
                <mat-label>Descripción</mat-label>
                <textarea matInput #descripcion3 maxlength="500" [formControl]="DescInput" style="min-height: 100px;" placeholder="Solo se permiten 500 caracteres..."></textarea>
                <mat-hint align="end">{{descripcion3.value.length}} / 500</mat-hint>
            </mat-form-field>
            <mat-form-field style="margin-top: 20px;">
                <mat-label>Nivel</mat-label>
                <mat-select [formControl]="levelControl" autocomplete="off" id="levelSelect">
                    <mat-option value="Básico">Básico</mat-option>
                    <mat-option value="Intermedio">Intermedio</mat-option>
                    <mat-option value="Avanzado">Avanzado</mat-option>
                </mat-select>
            </mat-form-field>
            <div style="display: flex;flex-direction: column;">
                <button mat-button style="margin-left: 10px;margin: 7px;border: 2px solid #FCB823;border-radius: 11px;"
                    (click)="goToLink(uploadLink)">ver</button>
                <!-- Select File -->
                <input #file type="file" [hidden]="true" accept=".pdf" (change)="detectFiles($event)">
                <button mat-button #upload onclick="return false" (click)="file.click()"
                    style="background: #a00;color:white;">Elegir Documento</button>
                <div *ngIf="uploading" style="display: flex; justify-content: center; align-items: center;">
                    <mat-spinner diameter="30"></mat-spinner>
                </div>

                <!-- Boton -->
                <button id="save" mat-raised-button color="primary" style="margin-top: 30px;" (click)="createLectura()">
                    Editar lectura
                </button>
            </div>
        </form>
    </div>

    <mat-horizontal-stepper>
        <mat-step label="Lectura">
            <div style="display: flex;flex-direction: column;">
                <mat-form-field style="margin-top: 20px;">
                    <mat-label>Nombre</mat-label>
                    <input matInput [formControl]="NameInput">
                </mat-form-field>
                <mat-form-field style="margin-top: 20px;">
                    <mat-label>Descripción</mat-label>
                    <textarea matInput #descripcion4 maxlength="500" [formControl]="DescInput" style="min-height: 100px;" placeholder="Solo se permiten 500 caracteres..."></textarea>
                    <mat-hint align="end">{{descripcion4.value.length}} / 500</mat-hint>
                </mat-form-field>
                <mat-form-field style="margin-top: 20px;">
                    <mat-label>Nivel</mat-label>
                    <mat-select [formControl]="levelControl" autocomplete="off" id="levelSelect">
                        <mat-option value="Básico">Básico</mat-option>
                        <mat-option value="Intermedio">Intermedio</mat-option>
                        <mat-option value="Avanzado">Avanzado</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div>
                <button mat-button matStepperNext>Siguiente</button>
            </div>
        </mat-step>
        <mat-step label="Multimedia">
            <div style="display: flex;flex-direction: column;">
                <!-- Select imagen -->
                <input #file type="file" [hidden]="true" accept=".pdf" (change)="detectFiles($event)">
                <button mat-button #upload onclick="return false" (click)="file.click()"
                    style="background: #a00;color:white;">Elegir Documento</button>
                <div *ngIf="uploading" style="display: flex; justify-content: center; align-items: center;">
                    <mat-spinner diameter="30"></mat-spinner>
                </div>
                <br>

                <!-- Select Image -->
                <input #fileImg type="file" [hidden]="true" accept="image/*" (change)="imageChangeEvent($event)">
                <button mat-button #upload onclick="return false" (click)="fileImg.click()"
                    style="background: #555;color:white;">Seleccionar Imagen</button>
                <div *ngIf="dataImages">
                    <br>
                    <div style="display: flex; justify-content: center; align-items: center;">
                        <div *ngFor="let image of dataImages; let i = index">
                            <div style="position: relative;">
                                <div class="delete-img" (click)="onDeleteImg(i)">
                                    <div style="color: #fff;">
                                        x
                                    </div>
                                </div>
                                <img [src]="image" alt="" srcset="" style="width: 100px; 
                                     height: 100px;
                                     margin-left: 5px;
                                     margin-right: 5px;">
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Insert URL Youtube -->
                <div style="display: flex;flex-direction: column;">
                    <mat-form-field style="margin-top: 20px;">
                        <mat-label>Copiar & Pegar URL YouTube:</mat-label>
                        <input matInput [formControl]="urlYouTubeInput">
                    </mat-form-field>
                </div>
            </div>
            <div>
                <button mat-button matStepperPrevious>Atras</button>
                <button mat-button matStepperNext>Siguiente</button>
            </div>
        </mat-step>
        <mat-step label="Guardar Lectura">
            <div>
                <span>
                    <strong>Importante:</strong>
                </span>
                <span>
                    Verifique que toda la información sea correcta antes de publicar.
                </span>
            </div>
            <!-- Boton -->
            <button id="save" mat-raised-button color="primary" style="margin-top: 30px;" (click)="createLectura()">
                Actualizar lectura
            </button>
            <div>
                <button mat-button matStepperPrevious>Atras</button>
            </div>
        </mat-step>
    </mat-horizontal-stepper>
</div>