<ion-content [fullscreen]="true" class="background">
  <ion-grid  style="margin-top: 30px;">
    <ion-row>
      <ion-col class='cardRestaurant' *ngFor="let cat of Notifications; let i = index"  style="margin-top: 30px;">
        <ion-card style="min-height: 100px;width: 93vw;margin: 2px;">
          <ion-card-content>
            <ion-card-title>
              <span class="textCardRestaurant">{{ cat.desc }}</span>
            </ion-card-title>
            <div style="text-align: right;">
              <span class="textCardRestaurant">{{ cat.cat }}</span>
            </div>            
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
